<div class="list">
  <h1>Chinese Cheatsheets</h1>
  <h3>Enter English words to build a new list</h3>
  <table>
    {{#collection tag="tbody"}}
        <tr><td class="keyword">{{title}}</td><td>{{translation}}</td></tr>
    {{/collection}}
  </table>
  <form id="translated">
    <input name="title">
    <input type="submit" value="Translate">
  </form>
  
  <form id="email">
    <input name="address">
    <input type="submit" value="Email this list">
  </form>
  {{#view email}}
    This is the email view.
  {{/view}}
</div>

<footer>
  API by <a href="http://developer.pearson.com/">Pearson</a> | Background image by <a href="http://www.flickr.com/photos/shizhao/4468692973/">Shizhou</a>.</br>
  Creative Commons -- Attribution-ShareAlike
</footer>