<div class="list">
  <div class="translate">
    <h1>Chinese Cheat Sheets</h1>
    <h3>Build a custom Chinese phrasebook in a <em>hurry</em>.</h3>
    <h4>1. <span class="standout">Type English words</span> you want to translate.</h4>
    <h4>2. You'll <span class="standout">get Chinese characters</span> back.</h4>
    <h4>3. When you're done, <span class="standout">email the list </span> to yourself</h4>
    <form id="translated">
      <input name="title" class="inputBox">
      <input type="submit" value="Translate" class="button">
    </form>
    <table>
      {{#collection tag="tbody"}}
          <tr><td class="keyword">{{title}}</td><td>{{translation}}</td></tr>
      {{/collection}}
    </table>



  </div>
  <footer>
     <form id="email">
      <input name="address">
      <input type="submit" value="Email this list" class="emailButton">
    </form>
    API by <a href="http://developer.pearson.com/">Pearson</a></br>
   This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
  </footer>
</div>

