/* This stylesheet will be available on all modules */

body {
  margin-left: 25px;
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
  background-color: ##b3d4fc;
}

.list {
  padding: 10px;
  background-color: #F8DB9A;
  border: 2px #F3A358;
}

