 html {
 }

 body {
  margin-left: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  background-size: 100%;
  background-color: #b3d4fc;
}

.list {
  height: 100%;
  max-width: 480px;
  padding: 10px 20px;
  margin-left: 40px;
  background-color: #fff;
  border-left: 2px solid #0759bc;
  box-shadow: 4px 0px 14px -2px #0759bc;
}

.translate {
  min-height: 600px;
}

.list table {
  margin-left: 20px;
}

td {
  min-width: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding-right: 10px;
}

.keyword {
  margin-right: 10px;
}

footer {
  margin: 10px;
  color: #666;
}

a {
  color: #0759bc;
}

h1 {
  border-bottom: 1px solid #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.standout {
  font-style: italic;
  font-weight: 600;
}

button {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.inputBox {
  padding: 0;
  margin-right: 5px;
  width: 300px;
  line-height: 2em;
  font-size: 1.2em;
}

.button {
  height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

.emailButton {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}