 body {
  margin-left: 25px;
  margin-top: 25px;
  padding-left: 25px;
  font-family: 'Open Sans', sans-serif;
  background-size: 100%;
  background-image: url(./img/shizhou.jpg);
  background-image: no-repeat;
}

.list {
  height: 600px;
  max-width: 480px;
  padding-top: 10px 20px;
  margin: 10px;
  background-color: #F6FDE3;
  border: 5px solid #BAE032;
  border-radius: 4px;
}

ul {
  list-style: none;
  list-style-position: none;
  margin-left:1.5em; 
  padding-left:0px;
}

li {
  font-size: 1.5em;
  margin-bottom:0.5em; 
  margin-left: -10px;
}

.keyword {
  margin-right: 10px;
}

footer {
  margin: 10px;
  color: #666;
}

a {
  color: #BAE032;
}
h1 {
  border-bottom: 1px solid #BAE032;
}

